<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Ermioni</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
						<p><a href="https://en.wikipedia.org/wiki/Ermioni">Ermioni</a> is located South of Athens, East of Peloponnese, and across the <a href="https://www.lonelyplanet.com/greece/saronic-gulf-islands/hydra">Hydra island</a> (30min with taxi boat).</p>
            <p>
						For those coming from Athens International airport (<a href="">Eleftherios Venizelos</a>), it is about 1 hour bus or metro ride to Piraeus port, from where you can take the flying dolphin and arrive in 2hrs to Ermioni. We recommend the following route: from airport take the <a href="http://athensairportbus.com/en/timetable/x96airporttopiraeusport.html">Bus X96</a>, stop at KARAISKAKI SQUARE and navigate through Exit 9 (see the map of piraeus port below) Take the <a href="https://hellenicseaways.gr/en/routes/view/71">Flying Dolphin</a> (32euro one way, children get ticket discount). Online Booking for the dolphin in advance is recommended.
            </p>
            <p>If you are interested in renting a car from Piraeus, please get in touch with us and we will help you with finding a good price rental.
            </p>
            <p>For those of you driving, we will try to facilitate carpooling with other guests.</p>
			<p>
						<img size="" src="/static/bigday/images/piraeus-port.jpg" /> 
            <hr class="primary">
            <h3>Where to Stay</h3>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Xenonas Bisti</th>
                    <td>
                        The <a href="http://www.xenonasbisti.gr">Bisti hotel</a> is a beautiful place located just near the green park and beach of Ermioni.
                        We have a block of discounted rooms reserved there - use the code <code>Mara and John's wedding</code> to get the group discount, which takes effect if you book for more than one night. Prices are the following: 60euro for 2 persons, 70euro for 3 persons, and 80euro for 4 persons.
                    </td>
                    <td>
											You can book via email, phone or fax.
											email: manager@xenonasbisti.gr
											mobile: 0030 6972034353
											tel: 0030 27540 31860
											fax: 0030 27540 31979
                    </td>
                </tr>
                <tr>
                    <th>Zoe hotel</th>
                    <td>
                        The Zoe hotel is close to the Bisti hotel but more inwards the village.
                        The rate is 45euro for a double room, here is <a href="http://www.zoepension.gr">their website</a>.
                    </td>
                    <td>
											You can book via email, phone or fax.
											email: info@zoepension.gr
											tel: 0030 27540 29565
											fax: 0030 27540 31352
                </tr>
            </table>
        </div>
    </div>
</div>
