<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Welcome</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
									<h3 style="text-align:center;">Coming soon..</h3>
<!--                    <dt>What</dt>
                    <dd>
                        Come join us for a few celebratory drinks at a local Niagara brewery
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, July 1 at 9:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Oast House Brewers<br>
                            <a href="https://goo.gl/maps/rDqRZ4uzpGq">2017 Niagara Stone Rd, Niagara-on-the-Lake,
                                ON L0S 1J0, Canada</a><br>
                            Phone: +1 905-262-8463
                        </address>

                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual (Canadiana encouraged)</dd>
                    <dt>Transportation</dt>
                    <dd>Transportation is not provided. Please plan responsibly.</dd>
                    <dt>Parking</dt>
                    <dd>Overflow parking is available at the church across the street</dd>
                    <dt>Other info</dt>
                    <dd>
                        We are doing our rehearsal dinner at the same venue.
                        The brewery will have a patio open to the public at this time and guests should feel free
                        to come early and enjoy food and drink before the official party starts
                        (though we've been told it might get crowded).
                        We’ll open the doors whenever we finish eating but by 9 at the latest.
                    </dd>
										</dl>-->
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Ceremony at Panagia Church, in Ermioni village</dd>
                    <dt>When</dt>
                    <dd>Saturday, September 30, at 5:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                           Ekklisia Kimisi Theotokou<br>
                            <a href="https://goo.gl/maps/YdoeJ4BhXjF2">Panagia Church, Ermioni, Greece</a><br>
                        </address>
                    </dd>
                    <dt>Dress code</dt>
										<dd>Cocktail. <br/><p>Tip: follow-up party will be at an orchard, high heels not recommended (except if you practice the cat-walk)!</p> 
                    </dd>
                    <dt>Getting there</dt>
										 <dd>Guests staying with us in the orchard's house there will be a van and family cars as pick up options.</dd>

                    </dd>
                    <dd>Guests staying in hotels in the village, it's a 15min walking distance from the port. Hotels provide necessary info.
                    </dd>
                    <dt>Parking</dt>
										<dd>Parking outside the church is not recommended, it's a small square surrounded by narrow streets. You can park near the main street, and walk up the last part.</dd>
                    <dt>Afterwards</dt>
                    <dd>
										<b>Dinner and party</b> near Katafyki (area's gorge) from 7 pm till we drop.
                    </dd>
                    <dt>To the orchard</dt>
                    <dd>
                        Guests wishing to walk with us to the orchard, it's 1hr route through lovely rural fields and farms.
												There will be 1 bus and family cars as a second transportation option.
												<br/>Bus will be returning to the village a couple of times throughout the night.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
