<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Welcome</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
									<h3 style="text-align:center;">Welcome Drinks</h3>
                    <dt>What</dt>
                    <dd>
                        Come join us for drinks at our house, while we will be decorating the garden. There will be bbq later too, so bring what you like for the grill.
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, September 29 at 6:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            At our house in Katafyki.<br>
														The route will be marked with shining stripes on olive trees and electric poles.
                        </address>

                    </dd>
                    <dt>Transportation</dt>
                    <dd>For those staying in Ermioni, family and friends will pick you up from Bisti hotel at 6pm.</dd>
										</dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Ceremony at Panagia Church, in Ermioni village</dd>
                    <dt>When</dt>
                    <dd>Saturday, September 30, at 5:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                           Ekklisia Kimisi Theotokou<br>
                            <a href="https://goo.gl/maps/YdoeJ4BhXjF2">Panagia Church, Ermioni, Greece</a><br>
                        </address>
                    </dd>
                    <dt>Dress code</dt>
										<dd>Cocktail. <br/><p>Tip: follow-up party will be at our orchard, high heels not recommended (except if you practice the cat-walk)!</p> 
                    </dd>
                    <dt>To the church</dt>
										 <dd>Guests camping/staying with us at the orchard, there will be friends and family cars as pick up options.</dd>

                    </dd>
                    <dd>Guests staying in hotels in the village, it's a 15min walking distance from the port. Hotel reception will provide the guests with any extra information if necessary.
                    </dd>
                    <dt>Parking</dt>
										<dd>Parking outside the church is not recommended, it's a small square surrounded by narrow streets. You could park near the main street, and walk up the last part.</dd>
                    <dt>Dinner</dt>
                    <dd>
										We walk together from the church to the taverna at the east edge of the village. About 15min walk, expected to be there around 6.30pm.
                    <dt>Party</dt>
										At the family's orchard, near Katafyki gorge from 9 pm till we drop. We leave taverna and get to the orchard by cars.
                    </dd>
                    <dt>Back to the village</dt>
                    <dd>
												<br/>Cars will be returning to the village a couple of times throughout the night.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% comment %}
<!--
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
									Coming soon..
								</p>
                <p>
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
								</p>
            </div>
        </div>
    </div>-->
{% endcomment %}
</section>
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday brunch</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
									<h3 style="text-align:center;">Brunch</h3>
                    <dt>What</dt>
                    <dd>
										 Greek honey, yoghurt, wallnuts, eggs, orange juice and espresso coffee!
										 For those coming from the village, bringing some fresh bread would be lovely.
                    </dd>
                    <dt>When</dt>
                    <dd>Sunday, October 1 at 12:00 am</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            At our house in Katafyki.<br>
														The route will be marked with shinning stripes on olive trees and electric poles.
                        </address>

                    </dd>
                    <dt>Transportation</dt>
                    <dd>For those staying in Ermioni, family and friends will pick you up from Bisti hotel at 12am.</dd>
										</dl>
            </div>
        </div>
    </div>
</section>
