<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Things to do</h2>
            <hr class="primary">
            <h3>Swim, hike, sight-seeing, dinning!</h3>
            <h4>Tavernas, drinks, coffee</h4>
            <p>
                If you have a designated driver, nothing beats a leisurely afternoon visiting a few of Niagara's beautiful vineyards and tasting the wine.
                If no one wants to drive, you can also <a href="http://zoomleisure.com/">rent a bike</a> or <a href="https://www.tripadvisor.com/Attractions-g154999-Activities-c42-t205-Niagara_on_the_Lake_Ontario.html">join a tour</a>.
                Follow the Niagara Wine Route.
            </p>
            <p>
                Trius has a fabulous high-end dining area.
                Inniskillin is renowned for their ice wine.
                For those of you who enjoy more full-bodied wines, Rowena is a fan of the Henry of Pelham Baco Noir Reserve.
                Southbrook is Canada’s first biodynamic winery and well known for excellent meals.
            </p>
            <h4>Niagara Falls</h4>
            <p>A walk around the falls at sunset or at night can be gorgeous. You can also take a ferry through them, though prepare to get wet!</p>
            <p>Around Niagara Falls is a thriving industry of haunted houses, a Butterfly Conservatory, Botanical Gardens, and even Niagara Falls Casino.</p>
            <h4>Golf</h4>
            <p>Plenty of scenic <a href="http://www.notlgolf.com/index.html">golf options</a> around town, many of them using the same grounds for vines as for courses.</p>
            <h4>Spa</h4>
            <p>Two of the nicest hotels in town host relaxing spas: Secret Garden Spa at Prince of Wales and 100 Fountain Spa at Pillar and Post.</p>
            <h4>Frachti Cave and Paralia</h4>
            <p>
						<a href="https://www.lonelyplanet.com/greece/southwest-argolis/attractions/frachti-cave-paralia/a/poi-sig/1571575/1336410">Frachti Cave></a> is one of Greece’s oldest and most significant Paleolithic, Mesolithic and Neolithic sites. Offshore, there is a submerged Neolithic settlement, Paralia; the shoreline was a further 7km away back then.<br>
							We will plan a hike tour to the site on Sunday or Monday after the wedding day. Site has free entrance and is open during the visiting hours.						</p>
            <h4>Lakkes</h4>
            <p>
                Probably not worth a dedicated trip, but Buffalo NY is the hometown of buffalo wings.
                So if you’re driving through anyways, might be a chance to pay homage.
            </p>
            <h4>Eat</h4>
            <p>
                Great meals can be found at <a href="http://www.thegarrisonhouse.ca/#!home/mainPage">Garrison House</a>, <a href="http://www.treadwellcuisine.com/">Treadwell</a>, and <a href="http://backhouse.xyz/">Backhouse</a>.
                <a href="http://www.twosistersvineyards.com/site/kitchen-76">Kitchen 72</a> inside the Two Sisters Vineyard serves delicious Italian food inside of an impressive estate.
            </p>
            <h4>Drink</h4>
            <p><a href="http://www.silversmithbrewing.com/">Silversmith Brewing</a> is an excellent local artisanal brewery offering offbeat new drinks.</p>
            <p>Some informal later-night options include The Olde Angel Inn, Sandtrap, and the Irish Harp.</p>
        </div>
    </div>
</div>
