<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Things to do</h2>
            <hr class="primary">
            <h3>Swim, hike, sight-seeing, dinning!</h3>
            <h4>Tavernas</h4>

						<p><b><a href="https://www.tripadvisor.com/Restaurant_Review-g1069597-d6726167-Reviews-Restaurant_Ganossis-Ermioni_Argolis_Region_Peloponnese.html" style="text-decoration: underline;">Ganosis</a></b> is known for their pizzas baked in traditional oven with fire (evening only)! Next to the port.</p>
						<p><b><a href="http://ermionigreece.com/en/content/article/souvlaki-bar_95" style="text-decoration: underline;">Souvlaki Bar</a></b> with traditional souvlaki, and they also have grilled vegetables. It's at the back side of the village.</p>
						<p><b><a href="http://www.greekgastronomyguide.gr/en/item/spyrandreas-fish-taverna-ermioni/" style="text-decoration: underline;">Spyrandreas</a></b> has good fish dishes, though prices are a bit high. Located next to Ganosis</p>
            <h4>Frachti Cave and Paralia</h4>
            <p>
						<a href="https://www.lonelyplanet.com/greece/southwest-argolis/attractions/frachti-cave-paralia/a/poi-sig/1571575/1336410" style="text-decoration: underline;">Frachti Cave</a> is one of Greece’s oldest and most significant Paleolithic, Mesolithic and Neolithic sites. Offshore, there is a submerged Neolithic settlement, Paralia; the shoreline was a further 7km away back then.<br>
							We will plan a hike tour to the site on Sunday or Monday after the wedding day. Site has free entrance and is open during the visiting hours.						</p>
            <h4>Lakkes</h4>
            <p>
						It is our favorite beach, 15km from Ermioni.
						<a href="https://yallou.com/destination/9019/Argolis/Lakkes" style="text-decoration: underline;"> See the map</a>
            </p>
            <h4>Hiking</h4>
            <p>
						There is a hiking route from near our house through the Katafyki gorge that leads to either Fourni village or the mountainous village Heliocastro. This will be our second option for hiking (more relaxing) if we don't make it to the Frachti Cave.
            </p>
        </div>
    </div>
</div>
